In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("Iris.csv")

In [7]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# 3. display Initial Stat

In [9]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
df.shape

(150, 6)

In [11]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

# 6. apply proper data conversion

In [12]:
df[['SepalLengthCm']] = df[['SepalLengthCm']].astype('int32')

In [13]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5,3.5,1.4,0.2,Iris-setosa
1,2,4,3.0,1.4,0.2,Iris-setosa
2,3,4,3.2,1.3,0.2,Iris-setosa
3,4,4,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,Iris-virginica
146,147,6,2.5,5.0,1.9,Iris-virginica
147,148,6,3.0,5.2,2.0,Iris-virginica
148,149,6,3.4,5.4,2.3,Iris-virginica
149,150,5,3.0,5.1,1.8,Iris-virginica

In [14]:
df.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

# 7. convert categorical variable into quantitative variable using one hot encoding and encoder

In [19]:
# One hot Coding
encoded_df = pd.get_dummies(df, columns=['Species'])

In [18]:
encoded_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,1,5,3.5,1.4,0.2,True,False,False
1,2,4,3.0,1.4,0.2,True,False,False
2,3,4,3.2,1.3,0.2,True,False,False
3,4,4,3.1,1.5,0.2,True,False,False
4,5,5,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,False,False,True
146,147,6,2.5,5.0,1.9,False,False,True
147,148,6,3.0,5.2,2.0,False,False,True
148,149,6,3.4,5.4,2.3,False,False,True
149,150,5,3.0,5.1,1.8,False,False,True

# label Encoding

In [20]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'Species' is a column in your DataFrame df
label_encoder = LabelEncoder()
df['Species_encoded'] = label_encoder.fit_transform(df['Species'])

In [21]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_encoded
0,1,5,3.5,1.4,0.2,Iris-setosa,0
1,2,4,3.0,1.4,0.2,Iris-setosa,0
2,3,4,3.2,1.3,0.2,Iris-setosa,0
3,4,4,3.1,1.5,0.2,Iris-setosa,0
4,5,5,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...,...
145,146,6,3.0,5.2,2.3,Iris-virginica,2
146,147,6,2.5,5.0,1.9,Iris-virginica,2
147,148,6,3.0,5.2,2.0,Iris-virginica,2
148,149,6,3.4,5.4,2.3,Iris-virginica,2
149,150,5,3.0,5.1,1.8,Iris-virginica,2